@import "../reindeer/reindeer.scss";


//$font-size: 16px;

@mixin mytheme {
  @include reindeer;

/*

.v-app input {
    font-size: 14px;
}

.v-app input {
    font-size: 14px;
}

.v-button-caption {
    font-size: 14px;
} */ 

.root {
    background: url("img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    //zoom: 150%;
}

}